{{define "subject"}}Weekly Timesheet Review{{end}}

{{define "plainBody"}}
  This week's timesheet review {{ formatTime "2006-01-02" now }}

  This week you worked: {{ .MeanDaily }}
  Earned approximately: {{ .Income}} (pre-tax and super)
  Worked {{ .NumDays }} days in total.

  Days left this month: {{ .MonthDaysLeft }}
  Hours left in contact: {{ .ContractHoursLeft }}

  To achieve zero hours at contract end: {{ formatFloat .AverageHours 2}} hours per day

  Sent at: {{now}}
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1>Timesheet review for the week ending '{{ formatTime "2006-01-02" now }}'</h1>
    <p>This week you worked: {{ .MeanDaily }}</p>
    <p>Earned approximately: {{ .Income}} <small>(pre-tax and super)</small></p>
    <p>And worked {{ .NumDays }} days.</p>
    <hr>
    <p>Contract End: {{ .ContractEnd }}</p>
    <p>Contract Hours Remaining: {{ .ContractHoursLeft}}</p>
    <hr>
    <p>Days left this month: {{ .MonthDaysLeft }}</p>
    <p>Average hours to do each day to reach contract zero: {{ formatFloat .AverageHours 2 }} hours per day</p>
    <small>Sent at: {{now}}</small>
  </body>
</html>
{{end}}

